@charset "UTF-8";
/*動態 */
/*RWD */
/* line 3, ../sass/_header.sass */
.banner {
  padding: 0;
}
/* line 5, ../sass/_header.sass */
.banner .row {
  position: relative;
}

/* line 8, ../sass/_header.sass */
.navbar {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-bottom: 0;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  padding: 0 1em;
}
/* line 17, ../sass/_header.sass */
.navbar .container-fluid {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 25, ../sass/_header.sass */
.navbar .navbar-header {
  width: 28%;
}
/* line 27, ../sass/_header.sass */
.navbar a.navbar-brand.navbar-brand {
  padding: 0.5em 1em;
  display: block;
  height: auto;
  width: 100%;
  margin-left: 0;
}
/* line 33, ../sass/_header.sass */
.navbar a.navbar-brand.navbar-brand img {
  width: 100%;
  height: auto;
}
/* line 36, ../sass/_header.sass */
.navbar .navbar-collapse {
  width: calc(72%);
  float: right;
  padding-left: 0;
  padding-right: 0;
}
/* line 41, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav {
  height: 100%;
  width: 100%;
}
/* line 44, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav > li {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  width: 15%;
}
/* line 50, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav > li > a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  text-transform: uppercase;
  transition: 0.5s ease;
  font-weight: bold;
  color: #000;
}
/* line 61, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav > li > a:hover {
  background: white;
}
/* line 63, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 68, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon li {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
/* line 73, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon .lang {
  position: relative;
  top: -0.5em;
}
/* line 76, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon img {
  margin-top: 0;
  width: auto;
  height: 25px;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 81, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  background: #b1b61b;
  color: #fff;
  height: 35px;
  width: 35px;
}
/* line 94, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon li:hover a {
  transition: 0.5s ease;
  background: #374957;
}
/* line 97, ../sass/_header.sass */
.navbar .navbar-collapse .nav.navbar-nav .socialIcon li:hover img {
  height: 20px;
}

/* line 4, ../sass/_index-section.sass */
.banner .row {
  margin: 0;
}
/* line 6, ../sass/_index-section.sass */
.banner .col-xs-12 {
  padding: 0;
}
/* line 8, ../sass/_index-section.sass */
.banner .owl-carousel {
  position: relative;
}
/* line 10, ../sass/_index-section.sass */
.banner .owl-carousel .owl-dots {
  position: absolute;
  top: 35%;
  right: 5%;
}
/* line 14, ../sass/_index-section.sass */
.banner .owl-carousel .owl-dots .owl-dot {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.3em 0;
  transition: 0.5s ease;
}
/* line 23, ../sass/_index-section.sass */
.banner .owl-carousel .owl-dots .owl-dot span {
  display: block;
  background: #fff;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
/* line 29, ../sass/_index-section.sass */
.banner .owl-carousel .owl-dots .owl-dot.active {
  border: 1px solid #fff;
}

/* line 33, ../sass/_index-section.sass */
.sectionLink {
  padding: 0;
}
/* line 35, ../sass/_index-section.sass */
.sectionLink ul {
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
}
/* line 39, ../sass/_index-section.sass */
.sectionLink ul li {
  width: calc(100% / 7);
  padding: 0;
  overflow: hidden;
  position: relative;
}
/* line 44, ../sass/_index-section.sass */
.sectionLink ul li img {
  width: 100%;
}
/* line 46, ../sass/_index-section.sass */
.sectionLink ul li::before {
  content: "";
  display: block;
  height: 3em;
  width: 100%;
  margin-bottom: 0.5em;
}
/* line 52, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(1)::before {
  background: #b1b61b;
}
/* line 54, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(2)::before {
  background: #514b67;
}
/* line 56, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(3)::before {
  background: #c0b058;
}
/* line 58, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(4)::before {
  background: #a85c4e;
}
/* line 60, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(5)::before {
  background: #5c3635;
}
/* line 62, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(6)::before {
  background: #979886;
}
/* line 64, ../sass/_index-section.sass */
.sectionLink ul li:nth-of-type(7)::before {
  background: #374957;
}
/* line 67, ../sass/_index-section.sass */
.sectionLink ul li:hover img {
  filter: blur(2px);
  transition: 0.5s ease;
}
/* line 70, ../sass/_index-section.sass */
.sectionLink ul li:hover span {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s 0.5s ease;
}
/* line 74, ../sass/_index-section.sass */
.sectionLink ul img {
  transition: 0.3s 0.5s ease;
}
/* line 76, ../sass/_index-section.sass */
.sectionLink ul a {
  display: block;
  position: relative;
  color: #fff;
  font-weight: bold;
}
/* line 81, ../sass/_index-section.sass */
.sectionLink ul span {
  text-shadow: 1px 1px 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0em;
  transition: transform 0.5s ease, opacity 0.3s 0.5s ease;
  transform: translateY(130%);
  opacity: 0;
}

/* line 95, ../sass/_index-section.sass */
.indexNews {
  padding: 5em 0;
}
/* line 97, ../sass/_index-section.sass */
.indexNews h1 {
  text-align: right;
  margin-top: 0;
  padding-right: 1em;
  font-weight: normal;
}
/* line 102, ../sass/_index-section.sass */
.indexNews .col-sm-9 {
  border-left: 1px solid #aaa;
}
/* line 104, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul {
  list-style: none;
  padding-left: 0;
}
/* line 107, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
/* line 111, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li div {
  margin-bottom: 0;
}
/* line 113, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li .date {
  width: 15%;
  font-weight: bold;
  font-size: 1.2em;
}
/* line 117, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li .detail {
  width: 70%;
  font-size: 1.1em;
  line-height: 2em;
}
/* line 121, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li .more {
  width: 15%;
  display: flex;
  align-items: flex-end;
}
/* line 125, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li a {
  color: #b1b61b;
  text-decoration: none;
  font-size: 12px;
  font-weight: lighter;
  transition: 0.6s cubic-bezier(0.81, 0.26, 0, 0.93);
}
/* line 131, ../sass/_index-section.sass */
.indexNews .col-sm-9 ul li a:hover {
  font-size: 14px;
}

/* line 136, ../sass/_index-section.sass */
.cardBg {
  background: url("../images/section2-bg.png") top center no-repeat;
  background-size: cover;
  padding-top: 5em;
  box-shadow: 0px 1px 10px 5px #ccc;
}
/* line 141, ../sass/_index-section.sass */
.cardBg .row {
  padding: 0 5%;
  display: flex;
}
/* line 144, ../sass/_index-section.sass */
.cardBg .col-sm-3 {
  background: #fff;
  margin: 0 1em;
  padding: 0;
  width: calc(100% / 4 - 2em);
  margin-bottom: 45em;
  padding-bottom: 5em;
}
/* line 151, ../sass/_index-section.sass */
.cardBg .col-sm-3 h1.title {
  padding: 1em;
  font-size: 1.3em;
  margin-top: 0.4em;
  font-weight: normal;
}
/* line 156, ../sass/_index-section.sass */
.cardBg .col-sm-3 p {
  padding: 1.5em 2em;
  line-height: 2em;
}
/* line 159, ../sass/_index-section.sass */
.cardBg .col-sm-3 img {
  width: 100%;
}
/* line 161, ../sass/_index-section.sass */
.cardBg .col-sm-3 .linkMore {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 2em;
}
/* line 167, ../sass/_index-section.sass */
.cardBg .col-sm-3 a {
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.5s ease;
}
/* line 177, ../sass/_index-section.sass */
.cardBg .col-sm-3 a::before {
  content: ">";
  color: #fff;
  font-size: 1.2em;
}
/* line 181, ../sass/_index-section.sass */
.cardBg .col-sm-3 a:hover {
  background: #b1b61b;
}

/* line 2, ../sass/_footer.sass */
footer {
  padding-top: 3em;
}
/* line 4, ../sass/_footer.sass */
footer h4 {
  margin-top: 0;
  font-size: 1.6em;
}
/* line 7, ../sass/_footer.sass */
footer .col-sm-8 {
  padding-left: 5em;
}
/* line 9, ../sass/_footer.sass */
footer .col-sm-8 p {
  font-size: 1.4em;
}
/* line 11, ../sass/_footer.sass */
footer .proudLink {
  display: flex;
}
/* line 13, ../sass/_footer.sass */
footer .proudLink li {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 17, ../sass/_footer.sass */
footer .proudLink li a {
  height: 20px;
  width: auto;
  padding: 0.5em;
  transition: 0.5s ease;
}
/* line 22, ../sass/_footer.sass */
footer .proudLink li a:hover {
  opacity: 0.5;
}
/* line 24, ../sass/_footer.sass */
footer .proudLink li img {
  width: 100%;
}
/* line 27, ../sass/_footer.sass */
footer .col-sm-4 p, footer .col-sm-4 h4 {
  text-align: center;
}
/* line 29, ../sass/_footer.sass */
footer .col-sm-4 a {
  color: #333;
}
/* line 31, ../sass/_footer.sass */
footer a {
  text-decoration: none;
  color: #ccc;
  font-size: 12px;
}

@media screen and (max-width: 767px) {
  /* line 3, ../sass/_media.sass */
  .navbar .container-fluid {
    display: block;
  }

  /* line 5, ../sass/_media.sass */
  .navbar-default.navbar {
    position: static;
    width: 100%;
    padding: 0em;
    background: #bac8d3;
  }
  /* line 10, ../sass/_media.sass */
  .navbar-default.navbar .navbar-header {
    width: 100%;
    margin: 0;
  }
  /* line 13, ../sass/_media.sass */
  .navbar-default.navbar .navbar-header a.navbar-brand {
    width: 250px;
    display: -webkit-inline-block;
    display: inline-block;
  }
  /* line 16, ../sass/_media.sass */
  .navbar-default.navbar .navbar-header button.navbar-toggle {
    right: 1em;
    margin: 1em;
    transition: 0.5s ease;
  }

  /* line 20, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse {
    width: 100%;
    padding: 0 1em;
    margin: 0;
  }
  /* line 24, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse ul.nav.navbar-nav {
    width: 100%;
    margin: 0;
  }
  /* line 27, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse ul.nav.navbar-nav > li {
    width: 100%;
    margin: 1em 0;
    display: block;
  }
  /* line 31, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse ul.nav.navbar-nav > li a {
    padding: 1em;
  }
  /* line 33, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse .socialIcon.socialIcon.socialIcon {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  /* line 37, ../sass/_media.sass */
  .navbar-collapse.navbar-collapse .socialIcon.socialIcon.socialIcon li {
    margin: 0 1em;
  }

  /* line 40, ../sass/_media.sass */
  .sectionLink ul {
    display: inline-flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 44, ../sass/_media.sass */
  .sectionLink ul li {
    width: 50%;
  }
  /* line 46, ../sass/_media.sass */
  .sectionLink ul li::before {
    margin-bottom: 0;
  }
  /* line 48, ../sass/_media.sass */
  .sectionLink ul li img {
    filter: blur(2px);
  }
  /* line 51, ../sass/_media.sass */
  .sectionLink ul li:hover img {
    filter: blur(0);
  }
  /* line 53, ../sass/_media.sass */
  .sectionLink ul li:last-child {
    width: 100%;
  }
  /* line 55, ../sass/_media.sass */
  .sectionLink ul li span {
    transform: translate(0);
    opacity: 1;
  }

  /* line 58, ../sass/_media.sass */
  .indexNews {
    padding: 0em;
  }
  /* line 60, ../sass/_media.sass */
  .indexNews .row {
    margin: 0;
    padding: 0 1em 0 0em;
  }
  /* line 63, ../sass/_media.sass */
  .indexNews h1 {
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
  }
  /* line 68, ../sass/_media.sass */
  .indexNews .col-sm-9 {
    border-left: none;
  }
  /* line 71, ../sass/_media.sass */
  .indexNews .col-sm-9 .news-list li {
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
  }
  /* line 75, ../sass/_media.sass */
  .indexNews .col-sm-9 .news-list li:last-child {
    border-bottom: none;
    margin-bottom: 3em;
  }
  /* line 78, ../sass/_media.sass */
  .indexNews .col-sm-9 .news-list li .date, .indexNews .col-sm-9 .news-list li .detail, .indexNews .col-sm-9 .news-list li .more {
    width: 100%;
    display: block;
  }
  /* line 81, ../sass/_media.sass */
  .indexNews .col-sm-9 .news-list li .detail {
    margin: 1em 0;
  }
  /* line 83, ../sass/_media.sass */
  .indexNews .col-sm-9 .news-list li a {
    text-align: right;
  }

  /* line 85, ../sass/_media.sass */
  .cardBg {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    height: 100%;
  }
  /* line 90, ../sass/_media.sass */
  .cardBg::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(197, 175, 133, 0.4);
    z-index: 0;
  }
  /* line 99, ../sass/_media.sass */
  .cardBg .row {
    margin: 0;
    display: block;
    padding: 0 1em 0 1em;
    position: relative;
    z-index: 1;
  }
  /* line 105, ../sass/_media.sass */
  .cardBg .row .col-sm-3 {
    width: 100%;
    margin: 0 0 2em;
    box-shadow: 0px 1px 12px -3px #333;
  }
  /* line 109, ../sass/_media.sass */
  .cardBg .row .col-sm-3 img {
    width: 100%;
  }

  /* line 112, ../sass/_media.sass */
  footer .row {
    display: block;
  }
  /* line 114, ../sass/_media.sass */
  footer .col-sm-8, footer .col-sm-4 {
    padding: 0;
  }
  /* line 116, ../sass/_media.sass */
  footer .col-sm-8 {
    margin-bottom: 1em;
  }
  /* line 118, ../sass/_media.sass */
  footer .col-sm-8 p {
    text-align: center;
    font-weight: bold;
  }
  /* line 122, ../sass/_media.sass */
  footer .proudLink li {
    margin: 0;
    padding: 0;
  }
  /* line 125, ../sass/_media.sass */
  footer .proudLink li a {
    height: auto;
  }
  /* line 127, ../sass/_media.sass */
  footer .proudLink li a img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  /* line 131, ../sass/_media.sass */
  footer .redmedia {
    text-align: center;
    display: block;
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 138, ../sass/_media.sass */
  .cardBg .row {
    padding: 0;
    justify-content: center;
  }
  /* line 141, ../sass/_media.sass */
  .cardBg .row .col-sm-3 {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  /* line 144, ../sass/_media.sass */
  .cardBg .row .col-sm-3 img + p {
    padding: 1em 1em;
  }

  /* line 146, ../sass/_media.sass */
  .navbar {
    padding: 0;
  }

  /* line 148, ../sass/_media.sass */
  .navbar a.navbar-brand.navbar-brand {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 151, ../sass/_media.sass */
  .navbar .navbar-collapse {
    width: 75%;
  }

  /* line 153, ../sass/_media.sass */
  .navbar .navbar-header {
    width: 25%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 156, ../sass/_media.sass */
  .navbar {
    padding: 0;
    min-height: auto;
  }
  /* line 159, ../sass/_media.sass */
  .navbar .navbar-header {
    width: 20%;
  }
  /* line 161, ../sass/_media.sass */
  .navbar .navbar-collapse.navbar-collapse.navbar-collapse {
    width: 80%;
  }
  /* line 164, ../sass/_media.sass */
  .navbar .navbar-collapse.navbar-collapse.navbar-collapse .nav.navbar-nav > li {
    width: calc(100% / 5);
  }
  /* line 166, ../sass/_media.sass */
  .navbar .navbar-collapse.navbar-collapse.navbar-collapse .nav.navbar-nav > li:last-child {
    width: auto;
  }
  /* line 168, ../sass/_media.sass */
  .navbar .navbar-collapse.navbar-collapse.navbar-collapse .nav.navbar-nav > li a {
    text-align: center;
    padding: 0 0.2em;
    font-size: 12px;
  }
  /* line 172, ../sass/_media.sass */
  .navbar a.navbar-brand.navbar-brand {
    padding: 0.5em;
  }
  /* line 174, ../sass/_media.sass */
  .navbar .socialIcon.socialIcon.socialIcon {
    position: absolute;
    right: 0;
    top: -3em;
  }
  /* line 178, ../sass/_media.sass */
  .navbar .socialIcon.socialIcon.socialIcon li {
    margin: 0 0em;
  }
  /* line 180, ../sass/_media.sass */
  .navbar .socialIcon.socialIcon.socialIcon li img {
    height: 5px;
    width: auto;
  }
  /* line 183, ../sass/_media.sass */
  .navbar .socialIcon.socialIcon.socialIcon li a {
    font-size: 12px;
  }

  /* line 187, ../sass/_media.sass */
  .sectionLink ul li span {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  /* line 193, ../sass/_media.sass */
  .indexNews .news-list.news-list {
    padding-right: 1em;
  }
  /* line 196, ../sass/_media.sass */
  .indexNews .news-list.news-list li .date, .indexNews .news-list.news-list li .detail, .indexNews .news-list.news-list li .more {
    display: block;
    width: 100%;
  }
  /* line 199, ../sass/_media.sass */
  .indexNews .news-list.news-list li .more {
    text-align: right;
  }

  /* line 202, ../sass/_media.sass */
  .cardBg .row {
    padding: 0;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* line 207, ../sass/_media.sass */
  .cardBg .row .col-sm-3 {
    margin: 1em 0.5em;
    width: calc(100% / 2 - 1em);
  }
  /* line 210, ../sass/_media.sass */
  .cardBg .row .col-sm-3 img {
    width: 100%;
  }
  /* line 212, ../sass/_media.sass */
  .cardBg .row .col-sm-3 img + p {
    padding: 1.5em 1em;
  }
}

/*# sourceMappingURL=usercss.css.map */
