// footer
footer
	padding-top: 3em
	h4
		margin-top: 0
		font-size: 1.6em
	.col-sm-8
		padding-left: 5em
		p
			font-size: 1.4em
	.proudLink
		display: flex
		li
			display: flex
			justify-content: center
			align-items: center
			a
				height: 20px
				width: auto
				padding: .5em
				transition: $transition-1
				&:hover
					opacity: .5
			img
				width: 100%
	.col-sm-4
		p,h4
			text-align: center
		a
			color: #333
	a
		text-decoration: none
		color: #ccc
		font-size: 12px