// 首頁
// 輪播圖
.banner
	padding: 0
	.row
		position: relative
// 選單
.navbar
	position: absolute
	bottom: 0
	z-index: 2
	width: 100%
	margin-bottom: 0
	border: none
	background: rgba(255,255,255,.3)
	padding: 0 1em
	.container-fluid
		padding: 0
		position: relative
		display: -webkit-box
		display: -webkit-flex
		display: -ms-flexbox
		display: flex
	// logo
	.navbar-header
		width: 28%
	a.navbar-brand.navbar-brand
		padding: .5em 1em
		display: block
		height: auto
		width: 100%
		margin-left: 0
		img
			width: 100%
			height: auto
	.navbar-collapse
		width: calc(72%)
		float: right
		padding-left: 0
		padding-right: 0
		.nav.navbar-nav
			height: 100%
			width: 100%
			>li
				display: flex
				height: 100%
				justify-content: center
				align-items: center
				width: 15%
				>a
					height: 100%
					width: 100%
					display: flex
					align-items: center
					justify-content: center
					padding: 0
					text-transform: uppercase
					transition: $transition-1
					font-weight: bold
					color: #000
					&:hover
						background: rgba(255,255,255,1)
			.socialIcon
				width: 25%
				display: flex
				justify-content: center
				align-items: center
				li
					display: inline-flex
					align-items: center
					flex-wrap: wrap
					padding: 0
				.lang
					position: relative
					top: -.5em
				img
					margin-top: 0
					width: auto
					height: 25px
					transition: $transition-2
				a
					display: inline-flex
					align-items: center
					justify-content: center
					// width: 35px
					// height: 35px
					overflow: hidden
					border-radius: 50%
					background: $color-1
					color: #fff
					height: 35px
					width: 35px
				li:hover
					a
						transition: $transition-1
						background: $color-2
					img
						height: 20px

