// 首頁中間
// 輪播圖
.banner
	.row
		margin: 0
	.col-xs-12
		padding: 0
	.owl-carousel
		position: relative
		.owl-dots
			position: absolute
			top: 35%
			right: 5%
			.owl-dot
				border-radius: 50%
				width: 15px
				height: 15px
				display: flex
				align-items: center
				justify-content: center
				margin: .3em 0
				transition: $transition-1
				span
					display: block
					background: #fff
					width: 7px
					height: 7px
					border-radius: 50%
			.owl-dot.active
				border: 1px solid #fff

// 七張圖
.sectionLink
	padding: 0
	ul
		display: flex 
		flex-wrap: nowrap
		flex: 1
		li
			width: calc(100% / 7)
			padding: 0
			overflow: hidden
			position: relative
			img
				width: 100%
			&::before
				content: ''
				display: block
				height: 3em
				width: 100%
				margin-bottom: .5em
			&:nth-of-type(1)::before
				background: #b1b61b
			&:nth-of-type(2)::before
				background: #514b67
			&:nth-of-type(3)::before
				background: #c0b058
			&:nth-of-type(4)::before
				background: #a85c4e
			&:nth-of-type(5)::before
				background: #5c3635
			&:nth-of-type(6)::before
				background: #979886
			&:nth-of-type(7)::before
				background: #374957
			&:hover
				img
					filter: blur(2px)
					transition: $transition-1
				span
					transform: translateY(0px)
					opacity: 1
					transition: .3s $transition-1
		img
			transition: .3s $transition-1		
		a
			display: block
			position: relative
			color: #fff
			font-weight: bold
		span
			text-shadow: 1px 1px 1px #000
			display: flex
			align-items: center
			justify-content: center
			width: 100%
			height: 100%
			position: absolute
			top: 0em
			transition: transform  $transition-1 , opacity .3s $transition-1
			transform: translateY(130%)
			opacity: 0

// 最新消息
.indexNews
	padding: 5em 0
	h1
		text-align: right
		margin-top: 0
		padding-right: 1em
		font-weight: normal
	.col-sm-9
		border-left: 1px solid #aaa
		ul
			list-style: none
			padding-left: 0
			li
				display: flex
				flex-wrap: wrap
				margin-bottom: 1em
				div
					margin-bottom: 0
				.date
					width: 15%
					font-weight: bold
					font-size: 1.2em
				.detail
					width: 70%
					font-size: 1.1em
					line-height: 2em
				.more
					width: 15%
					display: flex
					align-items: flex-end
				a
					color: $color-1
					text-decoration: none
					font-size: 12px
					font-weight: lighter
					transition: $transition-2
					&:hover
						font-size: 14px


// 下版大圖
.cardBg
	background: url('../images/section2-bg.png') top center no-repeat
	background-size: cover
	padding-top: 5em	
	box-shadow: 0px 1px 10px 5px #ccc
	.row
		padding: 0 5%
		display: flex
	.col-sm-3
		background: #fff
		margin: 0 1em
		padding: 0
		width: calc(100% / 4 - 2em)
		margin-bottom: 45em
		padding-bottom: 5em
		h1.title
			padding: 1em 
			font-size: 1.3em
			margin-top: .4em	
			font-weight: normal
		p
			padding: 1.5em 2em
			line-height: 2em
		img
			width: 100%
		.linkMore
			display: flex
			justify-content: center
			width: 100%
			position: absolute
			bottom: 2em
		a
			width: 30px
			height: 30px
			background: #333
			border-radius: 50%
			display: flex
			align-items: center
			justify-content: center
			text-decoration: none
			transition: $transition-1
			&::before
				content: '>'
				color: #fff
				font-size: 1.2em
			&:hover
				background: $color-1