// RWD
@media #{$mobile} 
	.navbar .container-fluid
		display: block
	.navbar-default.navbar
		position: static
		width: 100%
		padding: 0em
		background: lighten($color-2, 50%)
		.navbar-header
			width: 100%
			margin: 0
			a.navbar-brand
				width: 250px
				+display-flex(inline-block)
			button.navbar-toggle
				right: 1em
				margin: 1em
				transition: $transition-1
	.navbar-collapse.navbar-collapse
		width: 100%
		padding: 0 1em
		margin: 0
		ul.nav.navbar-nav
			width: 100%
			margin: 0
			>li
				width: 100%
				margin: 1em 0
				display: block
				a
					padding: 1em
		.socialIcon.socialIcon.socialIcon
			width: 100%
			display: flex
			justify-content: center
			li
				margin: 0 1em
	.sectionLink
		ul
			display: inline-flex
			+flex-wrap(wrap)
			justify-content: center
			li
				width: 50%
				&::before
					margin-bottom: 0
				img
					filter: blur(2px)
				&:hover
					img
						filter: blur(0)
				&:last-child
					width: 100%
				span
					transform: translate(0)
					opacity: 1
	.indexNews
		padding: 0em
		.row
			margin: 0
			padding: 0 1em 0 0em
		h1
			text-align: left
			border-bottom: 1px solid #ccc
			padding-bottom: .2em
			margin-bottom: .2em
		.col-sm-9
			border-left: none
			.news-list
				li
					padding-bottom: 1em
					margin-bottom: 1em
					border-bottom: 1px solid #ccc
					&:last-child
						border-bottom: none
						margin-bottom: 3em
					.date,.detail,.more
						width: 100%
						display: block
					.detail
						margin: 1em 0
					a
						text-align: right
	.cardBg
		padding-left: 0
		padding-right: 0
		position: relative
		height: 100%
		&::after
			content: ''
			display: block
			height: 100%
			width: 100%
			position: absolute
			top: 0
			background: rgba(#c5af85 ,.4)
			z-index: 0
		.row
			margin: 0
			display: block
			padding: 0 1em 0 1em
			position: relative
			z-index: 1
			.col-sm-3
				width: 100%
				margin: 0 0 2em
				box-shadow: 0px 1px 12px -3px #333
				img
					width: 100%
	footer
		.row
			display: block
		.col-sm-8,.col-sm-4
			padding: 0
		.col-sm-8 
			margin-bottom: 1em
			p
				text-align: center
				font-weight: bold
		.proudLink
			li
				margin: 0 
				padding: 0
				a
					height: auto
					img
						width: 100%
						display: block
						margin: 0 auto
		.redmedia
			text-align: center
			display: block
			width: 100%
// mini-pc
@media #{$mini-pc}
	.cardBg
		.row
			padding: 0
			justify-content: center
			.col-sm-3
				margin-left: .5em
				margin-right: .5em
				img+p
					padding: 1em 1em
	.navbar
		padding: 0
	.navbar a.navbar-brand.navbar-brand
		padding-left: 0
		padding-right: 0
	.navbar .navbar-collapse
		width: 75%
	.navbar .navbar-header
		width: 25%
@media #{$pad}
	.navbar
		padding:  0
		min-height: auto
		.navbar-header
			width: 20%
		.navbar-collapse.navbar-collapse.navbar-collapse
			width: 80%
			.nav.navbar-nav
				>li
					width: calc(100% / 5)
					&:last-child
						width: auto
				>li a
					text-align: center
					padding: 0 .2em
					font-size: 12px
		a.navbar-brand.navbar-brand
			padding: .5em
		.socialIcon.socialIcon.socialIcon
			position: absolute
			right: 0
			top: -3em
			li
				margin: 0 0em
				img
					height: 5px
					width: auto
				a
					font-size: 12px

	.sectionLink
		ul li span
			display: flex
			align-items: center
			justify-content: center
			text-align: center
	.indexNews
		.news-list.news-list
			padding-right: 1em
			li
				.date,.detail,.more
					display: block
					width: 100%
				.more
					text-align: right
	.cardBg
		.row
			padding: 0
			justify-content: center
			flex-wrap: wrap
			justify-content: center
			.col-sm-3
				margin: 1em .5em
				width: calc(100% / 2 - 1em)
				img
					width: 100%
				img+p
					padding: 1.5em 1em